.title {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(45, 45, 45);
    font-size: 100px;
    margin: 15px;
}