.grandiv {
    display: flex;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;

}

.formdiv {
    justify-content: center;
    flex-wrap: wrap;
    justify-items: auto;
    margin: 30px;
    
}

.tablediv {
    margin: 30px;

}


.title4 {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(54, 54, 54);
    font-size: large;
    margin: 10px;
}


.confirmation {
    display: block;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(83, 82, 82);
    margin: 15px;
}

Button {
    margin: 5px; 

}