.title {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(143, 141, 141);
    font-size: large;
    margin: 0px;
}

.nodeco {
    text-decoration: none;
}